body {
    background-color: green;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: indigo;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    text-align: center;
}


.teams {
    background-color: rgb(2, 158, 2);
    border-radius: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 90vh;
    height: 95vh;
}
.team {
    background-color: rgb(3, 179, 3);
    border-radius: 10px;
    color: rgb(82, 82, 78);

    margin: 20px;
    width: 25vh;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}