body {
    margin: 0;

    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: scroll;

    background: #006b6b;
}

h1, h2{
    margin: 0;
    padding: 20px;
}

p {
    padding: 10px 120px;
}

footer {
    width: 200px;
    text-align: center;
    position: fixed;
    left: calc(50% - 100px);
    bottom: 0;
}


.box {
    background: darkcyan;
    margin: 25px 50px;
    padding: 50px;
    border-radius: 16px;
}

.boxOp {
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    background: #00747477;
    border-radius: 24px;

    transition-property: height;
    transition-duration: 700ms;
}

.op {
    user-select: none;
}

