body {
    background: #3f3f3f;
}

.container {
    display: grid;
    grid-auto-rows: 200px;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 1000px;
    margin: auto;
}

.card {
    border: 1px dotted;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.lightbox {
    background: #464646;
    border: 2px solid #2c2c2c;
    width: 90vw;
    height: 90vh;
    border-radius: 1rem;
    position: fixed;
    top: 5vh;
    left: 5vw;
    display: none;
    /* box-shadow: 0 0 5px #2c2c2c, 0 0 15px 0 #2c2c2c; */
}
.lightbox>.box {
    width: auto;
    height: calc(100% - 4rem);
    margin: 2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.lightbox>.cross {
    width: 2rem;
    height: .5rem;
    background: #000;
    position: absolute;
    top: 1.75rem;
    transform: rotate(45deg);
    right: 1rem;
    cursor: pointer;
}
.lightbox>.cross::before {
    width: .5rem;
    height: 2rem;
    background: #000;
    position: absolute;
    content: "";
    left: .75rem;
    top: -.75rem;
}
.arrow {
    background: #000;
    cursor: pointer;
    width: 1.5rem;
    height: .5rem;
    position: absolute;
    /* transform-origin: 1.5rem .1rem; */
    transform: rotate(45deg);
    top: 50%;
}
.arrow::before {
    content: "";
    background: #000;
    width: 1.5rem;
    height: .5rem;
    position: absolute;
    transform-origin: .25rem .25rem;
    transform: rotate(-90deg);
}
.arrow.right {
    right: 25px;
    transform-origin: 0 .15rem;
    transform: rotate(225deg);
}
.arrow.left {
    left: 40px;
}

body.light::before {
    content: "";
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(5, 5, 5, .6);
}
body.light {
    overflow: hidden;
}
body.light .lightbox {
    display: block;
}